.card-1{
    background-color: #FFADAD;
}
.card-2{
    background-color: #FFD6A5;
}
.card-3{
    background-color: #FDFFB6;
}
.card-4{
    background-color: #CAFFBF;
}
.card-5{
    background-color: #9BF6FF;
}
.card-6{
    background-color: #A0C4FF;
}
.card-7{
    background-color: #BDB2FF;
}
.card-8{
    background-color: #FFC6FF;
}